{% comment %}
<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s3">
                        <a href="{% url 'dashboard' %}" class="brand-logo"><span class="material-icons"
                                                                                 style="font-size: 30px;">
                book_online
                </span>Turismo Real</a>
                    </div>
                    <div class="col s4">

                    </div>
                    <div class="col s2">
                        <a href="{% url 'register_apartment' %}">Registrar departamento</a>
                    </div>

                    <div class="col s3">
                        <ul class="right hide-on-med-and-down">
                            <li><a><i class="dropdown-trigger material-icons right" href="#!" data-target="dropdown1">arrow_drop_down</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endcomment %}

<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
</ul>
<div class="navbar-fixed nav-extended ">
    <nav>
        <div class="nav-wrapper">
            {% load static %}
            <a href="{% url 'dashboard' %}" class="brand-logo">
                <img src="{% static 'img/logo2.png' %}" class="hide-on-small-only" style="height: 64px !important"
                     alt="">
                <img src="{% static 'img/logo2.png' %}" class="show-on-small"
                     style="height: 40px !important;margin-top:10px;display:none;" alt="">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a><i class="dropdown-trigger material-icons right" href="#!"
                          data-target="dropdown1">arrow_drop_down</i></a></li>
            </ul>
        </div>

    </nav>
</div>

<ul class="sidenav collapsible collapsible-accordion" id="mobile-demo">

    <li><a href="{% url 'logout' %}">Cerrar sesión</a></a>
    </li>
    <li>
        <a class="collapsible-header">Departamentos<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="{% url 'register_apartment' %}">Registrar departamento</a></li>
                <li><a href="{% url 'apartment_list' %}">Administrar departamentos</a></li>
                <li><a href="#!">Ingresar mantención</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Servicios extra<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="{% url 'register_extra_service' %}">Registrar servicio extra</a></li>
                <li><a href="{% url 'extra_services_list' %}">Administrar servicios extra</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Reportes<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="{% url 'bookings_report' %}">Reporte de reservas</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Items<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="{% url 'create-item' %}">Registrar Item</a></li>
            </ul>
        </div>
    </li>
</ul>

